body{
    border: 1px solid red;
}
#brushs-head{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}
#frames-head{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}
#paint-head{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}
strong{
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}
.header-background{
    background-image: url("./image1.jpeg");
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    margin: 0 auto;
    text-align: center;
}
h3{
    font-weight: bold;
}